* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #134A45;
  --secondary-color: #1B8177;
  --text-color: white;
  --bg-color: #134A45;
  --btn-bg: #027b74;
  --btn-hover-bg: #015f5a;
}

.error {
  color: red;
  font-size: 0.85rem;
  margin-top: 4px;
  text-align: left !important;

}