.password-field {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.password-label {
  font-size: 15px;
  font-weight: 500;
  color: #333;
  display: flex;
  font-family: "Satoshi";
  margin-top: 1rem;
}

.password-input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.password-input {
  width: 100%;
  border: 1px solid #d0d5dd;
  border-radius: 50px;
  font-size: 14px;
  outline: none;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
  height: 24px; 
  padding: 10px 45px 10px 20px; 
  margin-top: 10px;
}

.password-input:focus {
  border: 1px solid #1b8177;
  box-shadow: 0 0 0 2px rgba(27, 129, 119, 0.1);
}

.eye-icon {
  position: absolute;
  right: 18px;
  color: #555;
  cursor: pointer;
  font-size: 18px;
  transition: color 0.2s ease;
  margin-top: 15px;
}

.eye-icon:hover {
  color: #1b8177;
}
