 .input-field {
   display: flex;
   flex-direction: column;
   width: 100%;
 }

.input-label {
   font-size: 0.9rem;
   font-weight: 500;
   color: #111827;
   margin-bottom: 10px;
   width: 225px;
}

.input-box {
    border-radius: 25px;
    font-size: 14px;
    padding: 14px 16px;
    outline: none;
    transition: border 0.2s ease;
    width: 100% !important;
    box-sizing: border-box;
    color: #111827;
    
    border: 1px solid #DCDCDC;
}

.input-box:focus {
   border-color: #1b8177;
   outline: none;
   box-shadow: 0 0 0 2px rgba(27, 129, 119, 0.1);
}

.input-box:hover,
.input-box.active {
   border-color: #1b8177;
   box-shadow: 0 0 0 2px rgba(27, 129, 119, 0.1);
}