.breadcrumb {
  max-width: 1200px;
  font-size: 14px;
  color: #666;
  font-family: "satoshi";
  margin-top: 5px;
  margin-left: 10px;
  font-size: 12px;
  letter-spacing: 0.8px;
}

.breadcrumb span {
  color: #134A45;
  font-weight: 500;
}

.btn{
    display: flex;
    gap: 10px;
    margin: 40px 30px;
}
button.gradient-btn.btn-reject {
    padding: 10px 24px;
}
.btn-edit {
  background-color: #134a45;
  color: white;
  border: none;
  padding: 10px 30px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 13px;
  font-weight: 500;
  transition: 0.3s ease;
}
.btn .btn-delete {
  background: transparent;
  border: 1px solid #134a45;
  color: #134a45;
  padding: 10px 28px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 13px;
  font-weight: 500;
  transition: 0.3s ease;

}

.breakdown-container1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: "Satoshi";
  margin-top: 10px;
  margin-left: 15px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
}
.breakdown-container1 .breakdown-row span {
  font-size: 14px;
  color: #555;
}

.breakdown-container1 .breakdown-row p {
  font-size: 14px;
  font-weight: 500;
  color: #000;
  margin-top: 10px;
}
.breakdown-container1 .breakdown-row {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 30px;
}