:root {
  --bg-color: #14635a;
  --hover-color: #cbd5d1;
  --text-size: 13px;
  --font-family: "Satoshi", sans-serif;
}

.topbar {
  background-color: #134a45;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0px;
  font-family: var(--font-family);
  font-size: var(--text-size);
  flex-wrap: wrap;
  transition: all 0.3s ease;
  z-index: 3000;
}

.topbar-left {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-left: 90px;
  flex-wrap: wrap;
}

.topbar-item {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 400;
  cursor: pointer;
  transition: color 0.3s ease;
  font-size: var(--text-size);
}

.topbar-item:hover {
  color: var(--hover-color);
}

.icon_ {
  font-size: 15px;
  display: flex;
  align-items: center;
}

.topbar-right {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: 95px;
  flex-wrap: wrap;
}

.topbar-right button {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: var(--text-size);
  transition: color 0.3s ease;
  font-weight: 500;
}

.topbar-right button:hover {
  color: var(--hover-color);
}

@media (max-width: 1199px) {
  .topbar {
    padding: 10px 40px;
  }

  .topbar-left {
    margin-left: 50px;
    gap: 25px;
  }

  .topbar-right {
    margin-right: 50px;
    gap: 15px;
  }
}

@media (max-width: 992px) {
  .topbar {
    padding: 12px 30px;
  }

  .topbar-left {
    margin-left: 30px;
    gap: 20px;
  }

  .topbar-right {
    margin-right: 30px;
    gap: 15px;
  }

  .topbar-item,
  .topbar-right button {
    font-size: 12.8px;
  }
}

@media (max-width: 768px) {
  .topbar {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 14px 20px;
    text-align: center;
  }

  .topbar-left {
    flex-direction: column;
    align-items: center;
    margin: 0;
    gap: 8px;
  }

  .topbar-right {
    flex-direction: row;
    justify-content: center;
    margin: 0;
    gap: 10px;
  }

  .topbar-item,
  .topbar-right button {
    font-size: 12.5px;
  }

  .icon_ {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .topbar {
    gap: 8px;
    padding: 10px 12px;
  }

  .topbar-left {
    flex-direction: column;
    gap: 4px;
  }

  .topbar-right {
    flex-direction: row;
    gap: 15px;
  }

  .topbar-item,
  .topbar-right button {
    font-size: 12px;
  }

  .icon_ {
    font-size: 13px;
  }
}
