.main-reviews {
  border-radius: 16px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
  font-family: "Satoshi";
  /* max-width: 900px; */
  margin: 20px ;
  background-color: white !important;
  height: 350px;
  width: 100%;
}
.reviews-section {
 padding: 20px 10px;
  overflow-x: auto;
  margin-bottom: 30px;
  background-color: white !important;
  margin-top: 0 !important;
}

.breadcrumb{
    margin: 30px;
}

.btn{
    display: flex;
    gap: 16px;
    padding: 10px 40px;
    margin-bottom: 20px;
}

.btn-delete{
        border: 1px solid #134A45;
    padding: 12px 28px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    transition: 0.3s ease;
}
.btn-discard{
    background-color: #134A45;
    color: white;
    border: none;
    padding: 12px 28px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    transition: 0.3s ease;
}
@media (max-width: 768px) {
  .reviews-section {
    flex-direction: column;
    gap: 16px;
    padding: 20px;
  }
}
