.otpWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #fafafa;
  font-family: "satoshi";
}

.otpBox {
  background: #fff;
  padding: 50px 80px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.08);
  max-width: 450px;
  width: 100%;
  margin: 0 1rem;
}

.otpLogo {
  width: 150px;
  margin-bottom: 15px;
}

.otpHeading {
  font-size: 1.5rem;
  font-weight: 500;
  font-family: "satoshi";
  color: #111;
  margin-bottom: 10px;
}

.otpText {
  color: #000000E5;
  font-size: 14px;
  line-height: 1.5;
  font-family: 'satoshi';
  margin-bottom: 25px;
}

.otpEmail {
  color: #000000E5;
  font-weight: 700;
}

.otpForm {
  text-align: left;
}

.otpForm label {
  display: block;
  margin-bottom: 6px;
  font-weight: 700;
  color: #333;
  font-size: 0.9rem;
}

.otpInput {
  width: 100%;
  height: 40px;
  border-radius: 30px;
  margin-bottom: 20px;
  padding: 0 18px;
  border: 1px solid #ccc;
}

.otpBtn {
  width: 100% !important;
  height: 40px;
  border-radius: 30px;
  font-weight: 500;
  margin-bottom: 2rem;
  background: linear-gradient(90deg, #0e3b35, #167d66) !important;
}

@media (max-width:425px) {
  .otpBox {
    background: #fff;
    padding: 50px 10px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.08);
    max-width: 450px;
    width: 100%;
}
}