/* .dashboard {
    display: flex;
    background-color: #f9fafb;
    min-height: 100vh;
    font-family: "Satoshi";
    margin: 80px 60px;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    box-shadow: 5px 0 20px 1px  gray;
    margin: 80px 120px;
  }
  
   */