.loginWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
  font-family: "Satoshi";
}

.loginBox {
  background-color: white;
  border-radius: 16px;
  padding: 40px 50px;
  width: 400px;
  text-align: center;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.05);
}

.logo_ {
  width: 150px;
  margin-bottom: 20px;
}

.tabContainer {
  display: flex;
  background-color: #134A45;
  border-radius: 40px;
  padding: 4px;
  margin-bottom: 30px;
}

.tabButton {
  flex: 1;
  border: none;
  background: transparent;
  color: #fff;
  font-size: 15px;
  padding: 6px 0;
  border-radius: 40px;
  cursor: pointer;
  transition: 0.3s;
    font-family: 'satoshi';

}

.tabButton.active {
  background-color: #fff;
  font-weight: 600;
  color:#111827;
  font-family: 'satoshi';
}

.heading {
  font-size: 25px !important;
  color: #111827;
  margin-bottom: 40px;
}

.form label {
  color: black;
  display: block;
  text-align: left;
  margin-bottom: 6px;
  font-size: 0.9rem;
  font-weight: 700;
}

.input {
  width: 100% !important;
  border-radius: 40px;
  border: 1px solid #333;
  background: white;
  color: black !important;
  padding: 8px 16px;
  margin-bottom: 18px;
  outline: none;
  box-shadow: none;
  font-size: 0.9rem !important;
  appearance: none;
}
.input:hover {
  border: 1px solid #167d66 !important;
}
.ant-input-password {
  border-radius: 40px !important;
  border: 1px solid #333 !important;
  overflow: hidden !important;
  box-shadow: none !important;
  background-color: #fff !important;
}

.ant-input-password .ant-input {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
  background-color: transparent !important;
  border-radius: 40px !important;
}

.ant-input-password .ant-input:focus {
  outline: none !important;
  box-shadow: none !important;
}

.ant-input-password:focus-within {
  border: 1px solid #167d66 !important;
  box-shadow: none !important;
}

.ant-input:focus-within {
  border: 1px solid #167d66 !important;
  box-shadow: none !important;
}

.passwordContainer {
  position: relative;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  font-size: 14px;
}

.options label {
  color: black;
  display: flex;
}
.rememberText{
  color: #666666 !important;
  font-family: 'satoshi';
  font-weight: 400;
}
label {
  display: flex;
  align-items: center;
  gap: 6px;
  color: #000;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

input[type="checkbox"] {
  width: 16px;
  height: 16px;
  cursor: pointer;
  accent-color: #167d66; 
}


.forgotLink {
  color: #073b35;
  font-weight: 600;
  
}
.forgotLink:hover {
  color: #167d66;
}

.loginBtn {
  background: linear-gradient(90deg, #0e3b35, #167d66) !important;
  color: #fff;
  border: none;
  border-radius: 40px !important;
  width: 100% !important;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.loginBtn:hover {
  background-color: #0d6e5e;
}

.signupText {
  color: black;
  margin-top: 20px;
  font-size: 14px;
  font-weight: 500;
}

.signupText a {
  color: #134A45;
  text-decoration:underline;
    font-weight: 700;

}

@media (max-width:425px) {
  .loginBox {
    background-color: white;
    border-radius: 16px;
    padding: 40px 10px;
    width: 400px;
    text-align: center;
    margin: 0 1rem;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.05);
}
}