.jobs-page {
  font-family: "Satoshi";
  width: 100%;
  box-sizing: border-box;
}

.jobs-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  padding: 10px 20px;
}

.jobs-header h2 {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}
.ant-select.ant-select-outlined {
    --select-border-color: var(--ant-color-border);
    --select-background: var(--ant-select-selector-bg);
    --select-color: var(--ant-color-text);
    width: 100%;
    border-radius: 2rem;
}
.jobs_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 0 20px 40px;
  width: 100%;
  box-sizing: border-box;
}

.no-jobs {
  width: 100%;
  text-align: center;
  padding: 60px 20px;
  box-sizing: border-box;
  color: #666;
}

.loading-text {
  text-align: center;
  padding: 40px;
  font-size: 18px;
}

@media (max-width: 991px) {
  .jobs-header {
    padding: 10px 15px;
  }
}

@media (max-width: 767px) {
  .jobs-header {
    /* flex-direction: column; */
    align-items: flex-start;
    gap: 15px;
    margin-bottom: 20px;
  }

  .jobs-header h2 {
    font-size: 18px;
  }

  .jobs_grid {
    grid-template-columns: 1fr;
    gap: 15px;
    padding: 0 15px 30px;
  }
}
