.member-container {
  width: 70%;
  font-family: "satoshi";
  padding: 2rem;
}

.member-container h3 {
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: 600;
}

.table-box {
  background: #fff;
  padding: 0px 10px;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
 
}

.ant-table {
  border-radius: 10px !important;
}

.ant-table-thead > tr > th {
  font-weight: 600;
  font-size: 13px;
}

.action-icons {
  display: flex;
  gap: 12px;
}

.icon {
  font-size: 14px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.icon.view {
  /* color: #2bb673; */
}
.table-box .ant-table {
}
.icon.edit {
  color: #ffb300;
}

.icon.delete {
  color: #fa5f55;
}

.icon:hover {
  opacity: 0.7;
}

.pagination-box {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  padding-bottom: 1rem;
}



/* AntD Pagination items */
.ant-pagination {
  display: inline-flex;
  align-items: center;
  font-family: "satoshi";
  font-weight: 500;
  margin: 2rem;
}

.ant-pagination-item {
  border-radius: 8px !important;
  border: 1px solid #1a5e56 !important;
  min-width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  margin: 0 4px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.ant-pagination-item a {
  color: #1a5e56;
  font-weight: 500;
}

.ant-pagination-item:hover {
  background-color: #1a5e56;
  color: #fff;
  border-color: #1a5e56 !important;
}

.ant-pagination-item-active {
  background-color: #1a5e56 !important;
  border-color: #1a5e56 !important;
  color: #fff !important;
}

/* Prev / Next buttons */
.ant-pagination-prev,
.ant-pagination-next {
  border-radius: 8px !important;
  border: 1px solid #1a5e56;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.ant-pagination-prev:hover,
.ant-pagination-next:hover {
  background-color: #1a5e56;
  color: #fff;
  border-color: #1a5e56;
}

/* Page size selector */
.ant-pagination-options {
  margin-left: 16px;
}

.ant-select-selector {
  border-radius: 20px !important;
  min-height: 36px !important;
}

.ant-select-selection-item {
  line-height: 36px !important;
  font-weight: 500;
}


@media (max-width:1440px) {
  .table-box {
    background: #fff;
    padding: 0px 10px;
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    width: 100% !important;
}
}

@media (max-width: 1024px) {
       .table-box {
        background: #fff;
        padding: 0px 0px;
        border-radius: 16px;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
        width: 100% !important;
    }
}
@media (max-width: 768px) {
  .member-container {
    width: 91%;
    font-family: "satoshi";
    padding: 2rem 1rem;
}
}