
.gradient-btn {
  background: linear-gradient(90deg, var(--primary-color), var(--secondary-color));
  color: #fff;
  border: none;
  outline: none;
  padding: 10px 28px;
  font-family: 'Satoshi', sans-serif;
  font-weight: 600;
  font-size: 14px;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.gradient-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(27, 129, 119, 0.4);
}
.right-arrow{
  margin-top: 0.2rem;
  margin-left: 0.5rem;
}
.gradient-btn:disabled,
.gradient-btn.disabled {
  opacity: 0.6;
  cursor: none;
  pointer-events: none;
}
