.categories-page {
  font-family: "satoshi";
  color: #333;
  min-height: 100px;
  position: relative;
}

.hero-section {
  position: relative;
  min-height: 300px;
  background: 
    url("../../../assets/images/grid.png") top left no-repeat,  
    url("../../../assets/images/hero-bg.jpg") center/cover no-repeat; 
  background-size: 600px auto, cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}
.st{
  position: absolute;
  top: 45rem;
  right:1rem;
}
.st img{
  width: 3rem;
  height: 3rem;
}
.hero-section .overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
}

.hero-section h1 {
  position: relative;
  color: white;
  font-size: 2.5rem;
  font-weight: 600;
  z-index: 1;
}


.breadcrumb {
  max-width: 1200px;
  margin: 30px auto;
  font-size: 14px;
  color: #666;
}

.breadcrumb span {
  color: var(--primary-color);
  font-weight: 500;
}

.categories-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto 60px;
  padding: 0 20px !important;
}

@media (max-width:575px) {
  .st{
   display: none;
  }
  
}