.subscription-container {
  border-radius: 16px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
  font-family: "Satoshi";
  max-width: 900px;
  margin: 20px ;
  background-color: white !important;
  height: 350px;
  padding: 25px 30px;
}
.upgrade-renew-btn{
  display: flex;
  gap: 10px;
  margin-top: 15px;
}
.subscription-container h3 {
  font-size: 18px;
  
}
.rr{
  padding: 20px;
  font-family: "Satoshi";
  font-size: 24px;
  font-weight: 500;
}
.subscription-card {
  height: auto;
  max-width: 25.5rem;
  border: 2px solid #B3E1DD;
  border-radius: 25px;
  padding: 30px;
  background: white;
  margin: 20px 20px;
}
.reviewwww{
  font-size: 24px;
  font-weight: 500;
  font-family: "Satoshi";
  margin-top: 20px;
  margin-left: 20px;
}
.subscription-card h4 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 15px;
    font-family: "Satoshi";

}

.subscription-card p {
  font-size: 1rem;
  margin: 4px 0;
  color: #666666;
  font-family: "Satoshi";
  padding-bottom: 8px;
  line-height: 1.2rem;
  font-weight: 500;
}

.days-box {
  margin-top: 14px;
  background: #B3E1DD;
  padding: 8px;
  border-radius: 6px;
  font-family: "Satoshi";
  font-weight: 500;
  font-size: 14px;
  color: #134A45
}

@media (max-width: 768px) {
  .upgrade-renew-btn{
    flex-direction: column;
  }
}