.section-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 5%;
  background-color: #ffffff;
  font-family: var(--font-family);
  gap: 25px;
  transition: all 0.3s ease;
  margin: 0 auto;
  max-width: 1400px;
}

.arroww {
  color: #ffffff;
  font-size: 1.2rem;
  margin-top: 0.3rem;
  display: flex;
  align-items: center;
}

.section-card.reverse-layout {
  flex-direction: row-reverse;
}

.section-content {
  flex: 1;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.section-content h1 {
  font-size: clamp(24px, 3.5vw, 36px);
  font-weight: 700;
  color: #0b132b;
  line-height: 1.2;
  margin-bottom: 25px;
}

.desc {
  color: #3a3a3a;
  font-size: clamp(14px, 1.5vw, 16px);
  line-height: 1.8;
  margin-bottom: 25px;
}

.highlight {
  color: var(--primary-color);
  font-size: clamp(15px, 1.6vw, 18px);
  font-weight: 700;
  margin-bottom: 20px;
}

.signup_btn {
  background: linear-gradient(
    90deg,
    var(--primary-color),
    var(--secondary-color)
  );
  color: #fff;
  font-size: 14px;
  padding: 12px 30px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: inline-flex;
  font-family: "satoshi";
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  align-self: flex-start;
}

.signup_btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(10, 130, 112, 0.3);
}

.section-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.section-image img {
  width: 100%;
  max-width: 500px;
  height: auto;
  aspect-ratio: 1 / 0.98;
  border-radius: 20px;
  object-fit: cover;
  transition: all 0.3s ease;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}

.section-image img:hover {
  transform: scale(1.02);
}

/* Response Breakpoints */
@media (max-width: 1200px) {
  .section-card {
    padding: 40px 4%;
    gap: 40px;
  }
}

@media (max-width: 992px) {
  .section-card {
    flex-direction: column !important;
    text-align: center;
    padding: 40px 20px;
    gap: 40px;
  }

  .section-card.reverse-layout {
    flex-direction: column !important;
  }

  .section-content {
    max-width: 100%;
    align-items: center;
    text-align: center;
  }

  .signup_btn {
    align-self: center;
  }

  .section-image img {
    max-width: 90%;
  }
}

@media (max-width: 768px) {
  .section-card {
    padding: 40px 15px;
    gap: 30px;
  }

  .section-content h1 {
    margin-bottom: 15px;
  }

  .desc,
  .highlight {
    margin-bottom: 15px;
  }

  .section-image img {
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .section-card {
    padding: 30px 15px;
  }

  .signup_btn {
    width: 100%;
    justify-content: center;
    padding: 14px 20px;
  }
}
