.FPWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
  font-family: "Satoshi";
}

.FPBox {
  background-color: white;
  border-radius: 16px;
  padding: 40px 50px;
  width: 400px;
  text-align: center;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.05);
}

.logo_ {
  width: 150px;
  margin-bottom: 20px;
}

.tabContainer {
  display: flex;
  background-color: #134A45;
  border-radius: 40px;
  padding: 4px;
  margin-bottom: 30px;
}

.tabButton {
  flex: 1;
  border: none;
  background: transparent;
  color: #fff;
  font-size: 15px;
  padding: 6px 0;
  border-radius: 40px;
  cursor: pointer;
  transition: 0.3s;
    font-family: 'satoshi';

}

.tabButton.active {
  background-color: #fff;
  font-weight: 600;
  color:#111827;
    font-family: 'satoshi';

}

.heading {
  font-size: 20px;
  color: black;
  margin-bottom: 35px;
}

.form label {
  color: black;
  display: block;
  text-align: left;
  margin-bottom: 6px;
  font-size: 0.9rem;
  font-weight: 700;
}

.input {
  width: 100%;
  border-radius: 40px;
  border: 1px solid #333;
  background: white;
  color: black;
  padding: 0px 16px;
  /* margin-bottom: 18px; */
  outline: none;
  box-shadow: none;
  appearance: none;
  height: 2.5rem;
}

.ant-input:focus-within {
  border: 1px solid #167d66 !important;
  box-shadow: none !important;
}


.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  font-size: 14px;
}

.options label {
  color: black;
  display: flex;
}

label {
  display: flex;
  align-items: center;
  gap: 6px;
  color: #000;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.SendLinkBtn {
  background: linear-gradient(90deg, #0e3b35, #167d66) !important;
  color: #fff;
  border: none;
  border-radius: 40px !important;
  width: 100% !important;
  padding: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.SendLinkBtn:hover {
  background-color: #0d6e5e;
}

.signupText {
  color: black;
  margin-top: 20px;
  font-size: 14px;
  font-weight: 500;
}

.signupText a {
  color: #134A45;
  font-weight: 700;
  text-decoration: underline;
}
.ant-input-affix-wrapper >input.ant-input, .ant-input-affix-wrapper >textarea.ant-input {
    font-size: inherit;
    border: none !important;
    border-radius: 0;
    outline: none;
    width: 100% !important;
    padding: 0px;
    background: transparent;
    color: inherit;
}

@media (max-width:425px) {
  .FPBox {
    background-color: white;
    border-radius: 16px;
    padding: 40px 10px;
    width: 400px;
    text-align: center;
    margin: 0 1rem;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.05);
}
}