.sidebar {
  width: 250px;
  background-color: #fff;
  border-right: 1px solid #e5e5e5;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: "Satoshi";
  font-weight: 500;
  gap: 10px;
  transition: transform 0.3s ease;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.logout-text {
  color: #ef4444 !important;
}
.menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-list li {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 15px;
  cursor: pointer;
  border-radius: 8px;
  transition: background 0.2s;
  color: #134a45;
}

.menu-list li:hover,
.menu-list li.active {
  background-color: #0d3d2f;
  color: #fff;
}

.menu-list li.active .menu-img,
.menu-list li:hover .menu-img {
  filter: brightness(0) invert(1);
}

.menu-img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.logout {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 15px;
  cursor: pointer;
  color: #134a45;
}

.logout:hover {
  background-color: #0d3d2f;
  color: #fff;
  border-radius: 8px;
}

.logout:hover .menu-img {
  filter: brightness(0) invert(1);
}

.hamburger {
  display: none;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 999;
  background: #134a45;
  color: white;
  border: none;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.sidebar-overlay {
  display: none;
}

@media (max-width: 767px) {
  .hamburger {
    display: block;
  }

  .sidebar {
    position: absolute;
    top: 0;
    left: 0;
    height: 95%;
    z-index: 1000;
    transform: translateX(-100%);
    /* box-shadow: 2px 0 10px rgba(0,0,0,0.1); */
    margin: 0 !important;
  }

  .sidebar.open {
    transform: translateX(0);
  }

  .sidebar-overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 999;
  }
}
