.edit-member-container {
  background-color: white;
  padding: 30px 40px;
  font-family: "Satoshi";
  margin: 15px 15px;
  max-width: 1200px;
  border-radius: 4px;
}

.edit-member-container h3{
    font-size: 16px;
    font-weight: 500;
}

.breadcrumb {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}

.breadcrumb .separator {
  margin: 0 8px;
  color: #999;
}

.breadcrumb .active {
  font-weight: 600;
  color: #004b50;
}

.edit-card {
  background: #fff;
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}
.form{
    margin-top: 15px;
}

.edit-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 30px;
  color: #222;
}

.edit-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-row {
  display: flex;
  gap: 25px;
}

.name{
    border-radius: 5px;
    height: 45px;
}

.button-row {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}

.btn-update{
    font-size: 14px;
    font-weight: 500;
}
.btn-discard{
     font-size: 14px;
    font-weight: 500;
    background: transparent;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}