.dashboard {
  /* display: flex;
  background-color: #f9fafb;
  min-height: 100vh;
  font-family: "Satoshi";
  margin: 40px 120px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
  position: relative; */
}

@media (max-width: 1200px) {
  .dashboard {
    margin: 40px 60px;
  }
}

@media (max-width: 991px) {
  .dashboard {
    margin: 30px 20px;
  }
}

@media (max-width: 767px) {
  .dashboard {
    flex-direction: column;
    margin: 20px 10px;
    padding-top: 50px; /* Space for the hamburger button */
  }
}
