.policy-container {
  font-family: "Satoshi";
  color: black;
  margin: 0 auto;
  max-width: 1100px;
  padding: 0px 20px;
  padding-bottom: 60px;
}

.policy-header {
  text-align: center;
  margin-bottom: 40px;
}

.policy-header h1 {
  font-size: 30px;
  font-weight: 700;
  color: black;
}

.policy-section {
  margin-bottom: 24px;
}

.policy-section h2 {
 font-size: 1.4rem;
  color: black;
  margin-bottom: 10px;
}

.policy-section h3 {
  font-size: 1.1rem;
  color: black;
  margin-bottom: 8px;
}

.policy-section p {
  color: #333;
  line-height: 1.6;
  margin-bottom: 10px;
    font-size: 1rem;

}

.policy-section ul {
  padding-left: 20px;
      font-size: 0.8rem;

}

.policy-section li {
  margin-bottom: 6px;
  color: #444;
  font-size: 1rem;

}
