.forget-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #ffffff;
  font-family: "Satoshi", sans-serif;
}

.forget-box {
  background: #fff;
  padding: 50px 60px;
  border-radius: 20px;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.05);
  width: 400px;
  text-align: center;
}

.forget-box p{
    color: #666666;
    margin-bottom: 10px;
    font-size: 1rem;
}

.forget-logo-img {
  width: 200px; 
  height: 80px;
  object-fit: contain;
  margin-bottom: 10px;
}
.forget-title {
  font-size: 22px;
  font-weight: 600;
  color: #1e293b;
  margin-bottom: 25px;
}


.form_group {
  text-align: left;
  margin-bottom: 20px;
}

.form_group label {
  display: block;
  font-weight: 600;
  color: #333;
  margin-bottom: 8px;
  font-size: 14px;

}

.btn-login {
  width: 100%;
  border-radius: 30px;
  margin-top: 10px;
}



