.export-modal .ant-modal-content {
  border-radius: 20px;
  padding: 32px 40px;
  text-align: center;
}

.export-logo {
  width: 60px;
  margin-bottom: 10px;
}

.export-title {
  font-size: 22px;
  font-weight: 600;
  color: #000;
}

.export-subtitle {
  color: #555;
  margin-bottom: 25px;
}

.export-options {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.export-option {
  width: 70%;
  background-color: #b9e1df;
  border-radius: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 24px;
  font-weight: 500;
  font-size: 14px;
  color: #000;
  transition: all 0.3s ease;
}

.export-option:hover {
  background-color: #a7d4d1;
}

.export-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.cancel-btn {
  background: var(--primary-color);
  color: #fff;
  border-radius: 30px;
  padding: 8px 30px;
  border: none;
  font-weight: 400;
}

.cancel-btn:hover {
  background: var(--primary-color) !important;
  color: #fff !important;
}

.export-btn {
  background: transparent;
  color: var(--primary-color);
  border: 1.5px solid var(--primary-color);
  border-radius: 30px;
  padding: 8px 30px;
  font-weight: 500;
}

.export-btn:hover {
  color: var(--primary-color) !important;
}

/* Custom Select Styling */
.export-content .ant-select-selector {
  border-radius: 15px !important;
  border: 1.5px solid #b9e1df !important;
  min-height: 45px !important;
  height: auto !important;
  display: flex !important;
  align-items: center !important;
  padding: 4px 12px !important;
}

.export-content .ant-select-selection-overflow {
  justify-content: center !important;
}

.export-content .ant-select-selection-placeholder {
  text-align: start !important;
  width: 100% !important;
  display: flex !important;
  align-items: center !important;
  justify-content: start !important;
  color: #999 !important;
  inset-inline-start: 0 !important;
  inset-inline-end: 0 !important;
  padding: 0 12px !important;
}

.export-content .ant-select-selection-search {
  width: 100% !important;
  inset-inline-start: 0 !important;
  display: flex !important;
  justify-content: start !important;
  align-items: start !important;
}

.export-content .ant-select-selection-search-input {
  text-align: start !important;
}
.custom-dropdown-icon{
  margin-bottom: 0.5rem;
}
.export-content .ant-select-selection-item {
  background: #f0f0f0 !important;
  border-radius: 6px !important;
  margin: 2px !important;
}

.ant-select-multiple .ant-select-selection-wrap {
    align-self: normal;
}
@media (max-width: 480px) {

  .export-buttons {
    flex-direction: column;
    gap: 12px;
  }

}
