.member-details-container {
    border-radius: 16px;
    margin: 17px auto;
    font-family: "Satoshi";
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
     flex: 1;
  padding: 40px 20px;
  max-width: 1000px;
  margin: 30px auto;
}

.breadcrumb {
  font-size: 1rem;
  color: gray;
  margin-bottom: 10px;
  margin: 10px;
}

.breadcrumb span {
  color: #134a45;
  font-weight: 700;
  font-family: "Satoshi";
}

.section-title {
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 20px !important;
}

.details-card {
  background: #f7fdfb;
  padding: 20px;
  border: 1.5px solid #bceee3;
  border-radius: 12px;
  margin-bottom: 25px;
}

.details-row {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  row-gap: 15px;
}

.label {
  font-size: 15px;
  color: #666;
  margin-bottom: 3px;
}

.value {
  font-size: 13px;
  font-weight: 600;
}

.status-active {
  color: #09a66d;
}

/* Additional info */
.sub-title {
  font-size: 20px;
  margin: 20px 0 10px;
}

.description-text {
  font-size: 15px;
  line-height: 22px;
  color: #444;
  margin-bottom: 15px;
  padding: 2px 8px;
}

/* Image */
.member-image {
  width: 300px;
  height: 250px;
  border-radius: 12px;
  margin: 10px 0 20px;
  display: block;
}

/* Buttons */
.action-buttons {
  display: flex;
  gap: 15px;
}

.delete-btn {
  background-color: transparent;
  border: 1px solid #134a45;
  color: white;
  padding: 12px 28px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  transition: 0.3s ease;
}

.discard_btn {
  background: transparent !important;
  border: 1.5px solid #134a45 !important;
  color: #134a45 !important;
  padding: 12px 28px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  transition: 0.3s ease;
}

.discard_btn:hover {
  background-color: #134a45;
  color: white;
}

.file-preview-container {
  text-align: center;
  padding: 20px;
  border: 1px dashed #d9d9d9;
  border-radius: 8px;
  background: #fafafa;
}

.non-image-file {
  padding: 20px;
}

.non-image-file p {
  margin: 10px 0 0;
  font-size: 14px;
  color: #555;
}
@media (max-width: 768px) {
 .action-buttons {
  display: flex;
  gap: 8px;
  flex-direction: column;
}
}