.faq-container {
  max-width: 900px;
  margin: 50px auto;
  padding: 50px 20px;
  font-family: "satoshi";
}

.faq-header {
  text-align: center;
  margin-bottom: 40px;
}

.faq-header h1 {
  font-size: 2rem;
  font-weight: 700;
  color: #0b3d2e;
}

.faq-list {
  margin-bottom: 40px;
}

.faq-footer {
  text-align: center;
  font-size: 0.9rem;
  background-color:#F7F2E6;
  padding: 15px;
  border-radius: 8px;
}

.faq-footer p{
    padding: 15px 10px;
}

.faq-footer a {
  color: #107c62;
  text-decoration: none;
}

.faq-footer a:hover {
  text-decoration: underline;
}
